// just include landsoul.css to style our table

@mixin light {
    --landsoul-bg: #fff;
    --landsoul-text: #3d424f;
    --landsoul-shadow: #f4f4f5;
    --landsoul-accent: #2563eb;
    --landsoul-color: #e3e4e8;
}

@mixin dark {
    --landsoul-bg: #202021;
    --landsoul-text: #e7e7e7;
    --landsoul-shadow: #353e5a;
    --landsoul-color: #2b414f;
}

html {
    @include light;
    &.dark {
        @include dark;
    }
    @media screen and (prefers-color-scheme: dark) {
        @include dark;
    }
}

table {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    caption {
        padding: 0.5em;
    }
    thead,
    tfoot {
        th {
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            position: sticky;
            vertical-align: bottom;
            background-color: var(--landsoul-shadow);
        }
    }
    thead th {
        top: 0;
    }
    tfoot th {
        bottom: 0;
    }
    tbody {
        white-space: nowrap;
        tr {
            background-color: var(--landsoul-bg);
            &:nth-child(2n) {
                background-color: var(--landsoul-shadow);
            }
        }
    }
    td,
    th {
        padding: 0.25em 0.5em;
    }
}

// border

table,
th,
td {
    border: 2px solid var(--landsoul-color);
}
th,
td {
    border-bottom-width: 0;
}

th:first-child,
td:first-child {
    border-left-width: 0;
}
th:last-child,
td:last-child {
    border-right-width: 0;
}
